{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{# Display a form #}

<style>
    body{
        margin: 0;
        padding: 0;
    }
</style>

<div class="row justify-content-center align-items-center" style="min-height: 90vh; margin: 0 !important;">
    <form action="" style="width: 450px; height: 400px;" class="bg-success d-flex justify-content-center flex-column p-4" method="post">
        <div class="form-group mx-sm-5 mb-2 mt-2">
            <label for="" class="">
            </label>
            <input class="form-control" type="text" placeholder="Inicie Sesion">
        </div>
        <div class="form-group mx-sm-5 mb-2">
            <label for="">
            </label>
            <input class="form-control" type="password" name="" id="" placeholder="*******">
        </div>
        <div class="form-group mx-sm-5 mb-2">
            <button class="btn btn-primary form-control"> Iniciar Sesión </button>
        </div>
    
    </form>
</div>

{# Read the documentation for more information #}